/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1169px) { 
  
.logo a {
    font-size: 16px;
}

.mainmenu ul li a {
    padding: 12px;
}
.homepage-3 .slider-text h2 {
    font-size: 45px;
}
.homepage-5.homepage-4.homepage-3.slider_area:before {
    left: -23%;
}
.slider-img-5 {
    top: 25%;
}
.goldcakesale {
    top: 25%;
}
.homepage-5 .single-item-inner {
    padding: 176px 0;
}
.homepage-5 .single-item-inner:before {
    top: 75.7%;
}
.homepage-5 .single-item-inner:after {
    top: 74%;
}
.homepage-5 .single-item-inner.single-item-inner-2:before {
    top: 31.3%;
}
.homepage-5 .single-item-inner.single-item-inner-2:after {
    top: 29.5%;
}
.homepage-5 .single-item-inner.single-item-inner-4:before {
    top: 31.5%;
}
.homepage-5 .single-item-inner.single-item-inner-4:after {
    top: 29.6%;
}
.homepage-5 .single-item-inner.single-item-inner-5:before {
    top: 75.8%;
}
.homepage-5 .single-item-inner.single-item-inner-5:after {
    top: 74.4%;
}
.homepage-5 .single-item-inner.single-item-inner-6:before {
    top: 31%;
}
.homepage-5 .single-item-inner.single-item-inner-6:after {
    top: 29.5%;
}
.homepage-5 .single-item-inner.single-item-inner-7:before {
    top: 77.5%;
}
.homepage-5 .single-item-inner.single-item-inner-7:after {
    top: 75.9%;
}
.homepage-5 .single-item-inner.single-item-inner-8:after {
    top: 28.4%;
}
.homepage-5 .single-item-inner.single-item-inner-9:before {
    top: 76.2%;
}
.homepage-5 .single-item-inner.single-item-inner-9:after {
    top: 74.4%;
}
.homepage-5 .single-item-inner.single-item-inner-10:before {
    top: 33.0%;
}
.homepage-5 .single-item-inner.single-item-inner-10:after {
    top: 31.4%;
}
.homepage-3 .single-item:after {
    top: 40%;
}
.download-area.homepage-5:before {
    left: -24%;
}
.download-area.homepage-5:after {
    left: 21%;
}
.team-area.homepage-3.homepage-4.homepage-5:after {
    top: 5%;
}
.token-meta p {
    font-size: 14px;
    line-height: 26px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item-2:before {
    height: 30px;
}
.homepage-5 .cryp-currency-left h2 {
    font-size: 30px;
    line-height: 48px;
}
.slide-caption-inner.slider-text {
    padding-top: 220px;
}
.homepage-3 .slider-img img {
    top: 30%;
    right: -15%;
    width: 60%;
}
.slider-img img {
    right: -60px;
    width: 50%;
}
img.slider-logo-img {
    left: 82%;
    width: 5%;
    top: 32%;
}
.small-icon img.slider-logo-img-1 {
    left: 68%;
    top: 30%;
    width: 3%;
}
.small-icon img.slider-logo-img-2 {
    left: 83%;
    width: 4%;
}
.small-icon img.slider-logo-img-3 {
    left: 98%;
    width: 4%;
}
.small-icon img.slider-logo-img-4 {
    left: 99%;
    width: 2.5%;
}
.small-icon img.slider-logo-img-5 {
    left: 68%;
    width: 4%;
}
.small-icon img.slider-logo-img-6 {
    position: absolute;
    left: 82%;
    z-index: 2;
    width: 5.5%;
    top: 40%;
}


@-webkit-keyframes updow {   

    0% {
        top: 40%;
        }


    100% {
        top: 42%
        }
}

@keyframes updow {   

    0% {
        top: 40%;
        }


    100% {
        top: 42%
        }
}



@-webkit-keyframes updo {   

    0% {
        top: 26%;
        }


    100% {
        top: 28%
        }
}

@keyframes updo {   

    0% {
        top: 28%;
        }


    100% {
        top: 30%
        }
}



@-webkit-keyframes upd {   

    0% {
        top: 43%;
        }


    100% {
        top: 45%
        }
}

@keyframes upd {   

    0% {
        top: 41%;
        }


    100% {
        top: 43%
        }
}



@-webkit-keyframes up {   

    0% {
        top: 67%;
        }


    100% {
        top: 69%
        }
}

@keyframes up {   

    0% {
        top: 63%;
        }


    100% {
        top: 61%
        }
}



@-webkit-keyframes u {   

    0% {
        top: 63%;
        }


    100% {
        top: 61%
        }
}

@keyframes u {   

    0% {
        top: 63%;
        }


    100% {
        top: 61%
        }
}



@-webkit-keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}

@keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}
.homepage-3.slider_area:before {
    left: -40%;
    top: -8%;
}
.about-meta p {
    font-size: 15px;
}

.section-title {
    padding: 0 180px;
}
img.section-logo {
    left: 34%;
}
.prement-system {
    margin-left: 100px;
}
.homepage-3 .prement {
    width: 230px;
    height: 242px;
    padding: 80px 50px;
    margin-right: 30px;
}
ul.token-list li {
    font-size: 12px;
}

.single-work p {
    padding: 0 30px;
}

.prement {
    width: 150px;
    height: 165px;
    padding: 33px 30px;
}

.countdown-table-cell {
    padding: 50px 200px;
}
.homepage-3 .chart-right ul li {
    font-size: 11px;
}

.chart-right {
    margin-left: 60px;
}
.homepage-3 .chart-logo-bg-2 {
    width: 100px;
    height: 100px;
    top: 27%;
    left: 30%;
}
.homepage-3 img.chart-logo-2 {
    margin: 6px 12px;
}
.homepage-3 .chart-logo-bg {
    width: 100px;
    height: 100px;
}
img.chart-logo {
    top: 6%;
    left: 13%;
}
.single-document {
    width: 178px;
    margin-right: 20px;
}
.document-content span {
    left: 66px;
}
.homepage-3 .section-bg:after {
    background-size: 100%;
}
ul.nav.nav-tabs li a {
    padding: 35px 3px;
}
ul.nav.nav-tabs li a {
    padding: 35px 3px;
}
.chart-logo-bg {
    top: 28%;
    left: 24%;
}

.chart-logo-bg-2 {
    top: 29%;
    left: 23%;
}

.section-bg:after {
    background-size: 154% 47%;
}
#clockdiv > div {
    padding: 20px 25px;
}

.whitepaper-right img {
    left: 40px;
}

img.white-logo-img {
    left: 46%;
    top: 143px;
}
.team-content p {
    font-size: 15px;
    line-height: 22px;
}

.social-links span {
    line-height: 27px;
    font-size: 12px;
    margin-right: 5px;
    padding: 6px;
}
.team-meta {
    padding: 0 0px;
}
.single-address {
    padding: 33px 90px;
}


.blog-table-cell h4 {
    padding: 0 110px;
    line-height: 54px;
}

.blog-heading h2 {
    font-size: 17px;
}

.inventor-right img {
    width: 30%;
}

.inventor-left {
    width: 400px;
}
.speak-quate {
    margin-top: 150px;
    margin-bottom: 70px;
    padding: 30px 30px;
}
.over-left img {
    width: 286px;
}
.over-right img {
    margin-left: 44px;
    width: 286px;
}










    
}

/* Tablet Layout: 768px. */
@media (min-width: 768px) and (max-width: 991px) { 


.mainmenu ul li a {
    padding: 20px 4px;
    font-size: 10px;
    letter-spacing: 0px;
}

.homepage-5 .slider-text h2 {
    font-size: 54px;
    line-height: 60px;
}
.homepage-5.slider_area {
    height: 100%;
}
.homepage-5.homepage-4.homepage-3.slider_area:before {
    display: none;
}
.choose-area.homepage-3.homepage-4.homepage-5 {
    padding-top: 70px;
}
.homepage-5 .slide-caption-inner.slider-text {
    padding-top: 150px;
    padding-bottom: 600px;
}
.slider-img-5 {
    top: 54%;
    right: 22%;
}
.goldcakesale {
    top: 54%;
    
}
.homepage-5.cryp-currency-area {
    padding-top: 0;
}
.cryp-currency-right {
    text-align: center;
    margin-top: 100px;
}
.cryp-currency-right img {
    position: inherit;
}
.work_area.homepage-5 {
    padding-bottom: 390px;
}
.homepage-3.homepage-4.homepage-5.chart-description-area:before {
    background-size: cover;
}
.token-area.homepage-5 {
    padding-bottom: 50px;
}
.download-area.homepage-5:before {
    display: none;
}
.download-area.homepage-5:after {
    display: none;
}
.homepage-3.whitepaper-area:before {
    top: 12%;
    left: 21%;
}
.team-area.homepage-3.homepage-4.homepage-5 {
    padding-top: 0;
}
.team-area.homepage-3.homepage-4.homepage-5:after {
    background-size: cover;
}
.homepage-5 .single-team {
    margin-bottom: 50px;
}
.homepage-3.homepage-5 .team-content {
    margin-top: 60px;
}
.homepage-5 .row.mb-54 {
    margin-bottom: 0;
}
.team-area.homepage-3.homepage-4.homepage-5 {
    padding-top: 0;
    padding-bottom: 90px;
}
.homepage-5 .team-img:hover .social-links.link-inner.team-link {
    top: 46%;
    left: 43%;
}
.homepage-5 .team-img .social-links.link-inner.team-link {
    top: 49%;
    left: 43%;
}
.advisors-area.homepage-5 .team-img .social-links.link-inner.team-link {
    top: 38%;
    left: 27%;
}
.homepage-3.homepage-4.homepage-5.advisors-area {
    padding-bottom: 50px;
}
.homepage-3.homepage-4.homepage-5.advisors-area {
    padding-bottom: 60px;
}
.homepage-3.homepage-4.homepage-5.advisors-area .social-links span {
    font-size: 10px;
    margin-right: 2px;
    padding: 7px;
}
.homepage-3 .slider-img img {
    position: absolute;
    top: 15%;
    right: 16%;
    z-index: -2;
    width: 62%;
}
.small-icon img.slider-logo-img-1 {
    left: 35%;
    top: 24%;
    width: 3%;
}
.small-icon img.slider-logo-img-2 {
    left: 51%;
    width: 4%;
}
.small-icon img.slider-logo-img-3 {
    left: 67%;
    width: 4%;
}
.small-icon img.slider-logo-img-4 {
    left: 67%;
    width: 2.5%;
}
.small-icon img.slider-logo-img-5 {
    left: 35%;
    width: 4%;
}
.small-icon img.slider-logo-img-6 {
    position: absolute;
    left: 50%;
    z-index: 2;
    width: 5.5%;
    top: 21%;
}


@-webkit-keyframes updow {   

    0% {
        top: 40%;
        }


    100% {
        top: 42%
        }
}

@keyframes updow {   

    0% {
        top: 19%;
        }


    100% {
        top: 21%
        }
}



@-webkit-keyframes updo {   

    0% {
        top: 26%;
        }


    100% {
        top: 28%
        }
}

@keyframes updo {   

    0% {
        top: 13%;
        }


    100% {
        top: 15%
        }
}



@-webkit-keyframes upd {   

    0% {
        top: 43%;
        }


    100% {
        top: 45%
        }
}

@keyframes upd {   

    0% {
        top: 20%;
        }


    100% {
        top: 22%
        }
}



@-webkit-keyframes up {   

    0% {
        top: 67%;
        }


    100% {
        top: 69%
        }
}

@keyframes up {   

       0% {
        top: 31%;
    }

    100% {
        top: 33%;
    }
}



@-webkit-keyframes u {   

    0% {
        top: 63%;
        }


    100% {
        top: 61%
        }
}

@keyframes u {   
    0% {
        top: 31%;
    }

    100% {
        top: 33%;
    }
}



@-webkit-keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}

@keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}




.homepage-3 .slider-text p {
    padding-right: 0px;
}


.logo a {
    font-size: 15px;
}

.homepage-3 li.login a.sing-up {
    padding: 8px 15px;
    letter-spacing: 0px;
}
.homepage-4 li.login a.sing-up {
    padding: 8px 15px;
    letter-spacing: 0px;
}
li.login a.sing-up {
    padding: 5px 9px;
    font-size: 10px;
    letter-spacing:0px;
}

.header-top {
    padding: 20px 0;
}
.slider_area {
    padding-bottom: 100px;
}
.slide-caption-inner.slider-text {
    padding-top: 500px;
    text-align: center;
}

.slider-text h2 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
}



.single-document.hidden-xs.sm-hidd {
    visibility: hidden;
    opacity: 0;
}


.slider-img img {
    width: 60%;
    top: 15%;
    right: 24%;
}
img.slider-logo-img {
    width: 7%;
    left: 46%;
    top: 15%;
}
.slider-btn.slider-btn-2 {
    margin-left: 30px;
}
img.section-logo {
    left: 41%;
    top: -15%;
}


@keyframes myfirst {   

    0% {
        top: -5%;
        }


    
}


#background-13 {
    background-position: top 22% left 92%;
}

.work_area {
    padding-top: 100px;
}

.section-title {
    padding: 0 70px;
}
.single-work h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}
.single-work p {
    font-size: 15px;
    line-height: 25px;
    color: #96a2e1;
    padding: 0 0px;
    margin-top: -10px;
}
.single-about {
    margin-bottom: 80px;
}
.choose-area.homepage-3 {
    padding-bottom: 70px;
}
.choose-right {
    text-align: center;
    margin-bottom: 60px;
}
.homepage-3 .crypcash-content p {
    padding: 0 10px;
}
.prement-system {
    margin-left: 80px;
}
.single-token {
    margin-bottom: 80px;
}
.t-mt-80 {
    margin-top: 0px;
}
.token-area {
    padding-bottom: 190px;
}
.homepage-3.crypcash-area {
    padding-top: 150px;
}
.offer-table h2 {
    font-size: 39px;
}
.video-area-bg {
    margin-top: 35px;
    display: inline-block;
    top: 100%;
    left: 35%;
}
.single-document {
    margin-bottom: 30px;
}
.choose-right img {
    position: initial;
}
.sm-hidd{
    opacity: 0;
    visibility: hidden;
}
.visib-hidd {
    opacity: 1;
    visibility: visible;
}
img.section-logo {
    position: absolute;
    left: 41%;
    top: -10%;
}
.choose-left-content {
    text-align: center;
}
.crypcash-area {
    padding-top: 0px;
}
.crypcash-left {
    margin-bottom: 80px;
    text-align: center;
}

.prement {
    width: 200px;
    height: 210px;
    padding: 57px 30px;
    margin-bottom: 40px;
}

.blockchain-area {
    padding-bottom: 100px;
    text-align: center;
}

.homepage-3 .single-item.single-tem-3 {
    position: absolute;
     padding-right: 160px; 

}

.download-area {
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: center;
}
.download-left {
    text-align: center;
    margin-top: 70px;
}

.button-group.store-buttons {
    margin-top: 60px;
}

.countdown-table-cell {
    padding: 50px 80px;
}

ul.token-list li {
    font-size: 12px;
    margin-bottom: 10px;
}
#clockdiv div > span {
    font-size: 44px;
}
#clockdiv > div {
    padding: 20px 25px;
}
.chart-description-area {
    padding-top: 100px;
}

.chart-left {
    text-align: center;
}
img.chart-logo {
    left: 18%;
}
.chart-logo-bg {
    top: 32%;
    left: 35%;
}
.chart-right {
    margin-top: 80px;
    margin-left: 120px;
}

.homepage-3 .chart-logo-bg {
    top: 29%;
    left: 32%;
}
.Fund-area .chart-right {
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: 100px;
}
.mt-80px{
    margin-top: 80px;
}
.homepage-3 .chart-logo-bg-2 {
    left: 33%;
}
.Fund-area {
    padding-top: 50px;
    padding-bottom: 100px;
}

.Fund-area .chart-left {
    margin-left: 0px;
}

img.chart-logo-2 {
    left: 18%;
}

.chart-logo-bg-2 {
    top: 32%;
    left: 38%;
}
.roadmap-area {
    padding-top: 80px;
    padding-bottom: 100px;
}
.roadmap-area .section-title {
    margin-bottom: 80px;
}
.homepage-3 .section-bg:after {
    top: 126px;
    background-size: 100%;
}

.row.mb-60 {
    margin-bottom: 130px;
}
.section-bg:after {
    top: -115px;
    background-size: 159% 27%;
}
.single-item {
    padding: 3px;
}
.single-item.single-tem-1 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-6 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-5 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-4 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-2 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-3 {
    position: initial;
    padding-right: 0;
}
.single-item:after {
    top: 10%;
}
.single-item.single-tem-2:after {
    top: 11%;
}

.single-item.single-tem-6:after {
    top: 9%;
}
.single-item.single-tem-3:after {
    top: 9%;
}
.advisory-carosul-wrapper .owl-nav div {
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 22px;
    line-height: 44px;
    border: none;
    background: #1ED88E;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    bottom: -45px;
    right: 90px;
    margin-top: -19px;
    outline: none;
    transition: all .3s ease-in;
}
.advisory-carosul-wrapper .owl-nav div.owl-next {
    left: auto;
    right: 30px;
}


.whitepaper-area {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.whitepaper-right img {
    position: inherit;
    text-align: center;
    margin-top: 60px;
}
img.white-logo-img {
    left: 42%;
    top: 37%;
    position: absolute;
}

.team-right {
    margin-top: 0px;
}

.team-img {
    margin-bottom: 100px;
}
.homepage-3 .team-img {
    margin-top: 50px;
}
.team-img img {
    width: 100%;
}
.social-links.link-inner {
    left: 8%;
}
.team-meta {
    padding: 0 20px;
}

.advisory-carosul-wrapper .owl-dots span {
    margin: -9px -12px;
}



.faq-area {
    background: #081241;
    padding-top:100px;
}

.partner-area {
    padding-top: 100px;
    padding-bottom: 188px;
}

.contact-form-area {
    position: relative;
    margin: 0 15px;
}

.single-address {
    padding: 30px 40px;
}

.subscribe-box input[type="submit"] {
    height: 65px;
    width: 25%;

 }
.subscribe-box input[type="email"]{
    width: 60%;
}


p.copy-rights {
    text-align: center;
    margin-bottom: 10px;
}
.footer-right {
    text-align: center;
}


.blog-table-cell h4 {
    padding: 0 50px;
}
.latest-blog-area .single-blog-box {
    margin-bottom: 100px;
}
.single-blog-image img {
    width: 100%;
}
.single-blog-image:before {
    line-height: 420px;
}
.blog-heading h2 {
    font-size: 30px;
}
    
 .inventor-left {
    width: 440px;
}

.over-right img {
    width: 340px;
    margin-left: 40px;
}
.over-left img {
    width: 340px;
}

.blog-recent-post-image-1 img {
    width: 100%;
}

.blog-right-search-button {
    margin-top: 50px;
}
.blog-details.latest-blog-area {
    padding-top: 100px;
    padding-bottom: 50px;
}




    
}
/* Mobile Layout: 320px. */
@media (min-width: 320px) and (max-width: 767px){ 


.homepage.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: fixed;
    background: transparent;
    padding: 30px 0;
    min-height: 42px;
    z-index: 99999;
}
.homepage.mean-container .mean-nav ul li a.mean-expand {
    width: 17px;
    height: 17px;
}
.homepage.mean-container .mean-nav ul li a{
    color: #404873;
}
.homepage a.mean-expand {
    width: 17px;
    height: 15px;
    line-height: 13px;
}
.homepage.mean-container .mean-nav ul li a.mean-expand:hover {
    background:#D6D6D6;
    color: #fff;
}
.homepage.mean-container a.meanmenu-reveal {
    color: #404873;
}
.homepage.mean-container a.meanmenu-reveal span {
    background: #404873;
}
.homepage.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #E2E7FB;
    margin-top: 25px;
}
.sticky-wrapper.is-sticky .header-top {
    padding: 8px 0;
}

.header-top {
    padding: 15px 0;
}
.homepage .nice-select span.current {
    font-family: "glacial_indifferenceregular";
    letter-spacing: 2px;
    font-size: 12px;
    transition: all .3s ease-out;
    position: relative;
    left: 7%;
    top: 4px;
    color: #000;
}
.homepage .nice-select:after {
    right: auto;
    top: 70%;
    left: 66px;    
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.homepage .nice-select .list {
    background-color: transparent;
    position: absolute;
    left: 28%;
    top: -84px;
    max-width: 57px;
}

.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: fixed;
    background: transparent;
    padding: 30px 0;
    min-height: 42px;
    z-index: 99999;
}
.mean-container .mean-nav ul li a.mean-expand {
    width: 17px;
    height: 17px;
}
.mean-container .mean-nav ul li a{
    color: #fff;
}
 a.mean-expand {
    width: 17px;display: block;
    height: 15px;
    line-height: 13px;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
    background:#060E38;
    color: #fff;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #0B164E;
    margin-top: 20px;
}
.sticky-wrapper.is-sticky .header-top {
    padding: 8px 0;
}



.header-top {
    padding: 15px 0;
}
 .nice-select span.current {
    font-family: "glacial_indifferenceregular";
    letter-spacing: 2px;
    font-size: 12px;
    transition: all .3s ease-out;
    position: relative;
    left: 7%;
    top: 4px;
    color: #fff;
}
 .nice-select:after {
    right: auto;
    top: 70%;
    left: 66px;    
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
 .nice-select .list {
    background-color: transparent;
    position: absolute;
    left: 28%;
    top: -84px;
    max-width: 57px;
}

li.mean-last {
    padding: 0px 16px;
    background: #304FFE;
    max-width: 22%;
    top: 0;
    left: 0;
    margin: 24px 2px 10px 17px;
    border-radius: 5px;
}

.homepage.mean-container li.mean-last {
    padding: 0px 16px;
    background: #fff;
    max-width: 22%;
    top: 0;
    left: 0;
    margin: 24px 2px 10px 17px;
    border-radius: 5px;
    color: #fff;
}

.logo a {
    font-size: 15px;
}
.logo img {
    width: 30px;
}
li.login a.sing-up {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
}


.slider_area {
    height: 100%;
}

.slide-caption-inner.slider-text {
    padding-top: 300px;
    text-align: center;
    padding-bottom: 80px;
}

.slider-text h2 {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 25px;
    margin-top: 30px;
}
.slider-text p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
}

.slider-img img {
    right: 20%;
    width: 65%;
    padding-left: 0px;
    top: 15%;
}
img.slider-logo-img {
    position: absolute;
    left: 47%;
    z-index: 2;
    max-width: 28px;
    top: 14%;
}

.slider-btn.slider-btn-2 {
    margin-left: 0px;
    margin-top: 30px;
}

.work_area {
    padding-top: 50px;
    padding-bottom: 80px;
}
.section-title {
    padding: 0 0px;
}
.homepage-3 .single-item.single-item_1 {
    top: -75px;
    left: -3px;
    text-align: left;
    padding: 0 80px;
}
.homepage-3 .single-item.single-item_3:after {
    top: 41%;
    left: 2px;
}
.homepage-3 .single-item.single-item_5:after {
    top: 44%;
}
.homepage-3 .single-item.single-item_10:after {
    top: 44%;
}
.homepage-3 .single-item{
    text-align: left;
    padding: 0 80px;
}
.homepage-5 .single-item {
    padding: 0;
}
.homepage-5 .single-item.single-item_2:after {
    top: 46%;
    left: 2px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_3:before {
    top: 247px;
    left: 1px;
    height: 40px;
}
.homepage-5 .single-item-inner.single-item-inner-3:before {
    top: 81.2%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-3:after {
    top: 79.4%;
    left: -9px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_4:before {
    top: 72px;
    left: 3px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_4:after {
    top: 46%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-4:before {
    top: 22.1%;
    left: 0px;
}
.homepage-5 .single-item-inner.single-item-inner-4:after {
    top: 19.8%;
    left: -7px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_5:before {
    top: 250px;
    left: -8px;
}
.homepage-5 .single-item-inner.single-item-inner-5:before {
    top: 84.8%;
    left: -10px;
}
.homepage-5 .single-item-inner.single-item-inner-5:after {
    top: 82.4%;
    left: -18px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_5:after {
    top: 44%;
    left: 2px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_6:before {
    top: 77px;
    left: 3px;
}

.homepage-3.homepage-4.homepage-5 .single-item.single-item_6:after {
    top: 43%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-6:before {
    top: 22.5%;
    left: 1px;
}
.homepage-5 .single-item-inner.single-item-inner-6:after {
    top: 20.5%;
    left: -7px;
}
.homepage-5 .single-item-inner.single-item-inner-7:before {
    top: 86.5%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-7:after {
    top: 83.9%;
    left: -9px;
}
.homepage-3 .single-item.single-item_7:after {
    top: 45%;
    left: 2px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_7:before {
    top: 234px;
    left: 1px;
    height: 40px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_8:before {
    top: 86px;
    left: 5px;
    height: 28px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_8:after {
    top: 41%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-8:before {
    top: 23.9%;
    left: 3px;
}
.homepage-5 .single-item-inner.single-item-inner-8:after {
    top: 22.1%;
    left: -5px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_10:before {
    top: 86px;
    left: 5px;
    height: 28px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_10:after {
    top: 41%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-10:before {
    top: 23.9%;
    left: 3px;
}
.homepage-5 .single-item-inner.single-item-inner-10:after {
    top: 22.1%;
    left: -5px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_9:before {
    top: 226px;
    left: 1px;
    height: 40px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_9:after {
    top: 46%;
    left: 2px;
}

.homepage-5 .single-item-inner.single-item-inner-9:before {
    top: 84.2%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-9:after {
    top: 81.8%;
    left: -9px;
}

.homepage-5 .single-item:after {
    top: 46%;
    left: 2px;
}
.roadmap-area.homepage-3.homepage-5 .owl-nav div {
    top: 47.6%;
}
.homepage-3.homepage-4.homepage-5 .single-item:before {
    height: 33px;
    top: 22%;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_1:before {
    top: 250px;
}
.homepage-5 .single-item.single-item_1 {
    padding: 0;
    left: 35px;
}
.homepage-3 .single-item:after {
    top: 46%;
    left: 80px;
}
.homepage-5 .single-item.single-item_1:after {
    top: 44%;
    left: 3px;
}

.homepage-5.homepage-6 .ml-27 {
    margin-left: 0px; 
}

.homepage-5 .single-item-inner:before {
    top: 84.5%;
}
.homepage-5 .single-item-inner:after {
    top: 82.4%;
}
.homepage-5 .single-item-inner.single-item-inner-2:before {
    top: 21.5%;
}
.homepage-5 .single-item-inner.single-item-inner-2:after {
    top: 19.4%;
    left: 2px;
}
.homepage-3 .single-item.single-item_8:after {
    top: 41%;
    left: 80px;
}
.roadmap-area.homepage-3 .owl-nav div {
    top: 48%;
}
.single-item-inner {
    padding: 120px 0;
}
.single-work {
    margin-bottom: 70px;
}
.single-work h4 {
    font-size: 20px;
    line-height: 22px;
    margin: 20px 0;
}
.single-work p {
    font-size: 15px;
    line-height: 25px;
    color: #96a2e1;
    padding: 0 0px;
    margin-top: -10px;
}

.homepage-3 .light-bg:before {
    background-size: contain;
}
.slider-img-5 {
    right: 3%;
    top: 100%;
    width: 350px;
}

.goldcakesale {
    top: 100%;
    width: 350px;
}

.homepage-5.slider_area {
    padding-bottom: 600px;
}
.homepage-5 .slide-caption-inner.slider-text {
    padding: 60px 0;
}
.homepage-5.homepage-4.homepage-3.slider_area:before {
    display: none;
}
.homepage-5 .slider-text h2 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}
.homepage-5.cryp-currency-area {
    padding-top: 0;
    text-align: center;
}
.cryp-currency-right img {
    display: none;
}
.work_area.homepage-5 {
    padding-top: 80px;
    padding-bottom: 370px;
}
.token-area.homepage-5 {
    padding-bottom: 50px;
    padding-top: 80px;
}
.homepage-3.homepage-4.homepage-5.chart-description-area:before {
    background-size: cover;
}
.homepage-3.homepage-4.homepage-5.chart-description-area {
    padding-bottom: 45px;
    padding-top: 80px;
}
.download-area.homepage-5:before {
    display: none;
}
.download-area.homepage-5:after {
    display: none;
}
.team-area.homepage-3.homepage-4.homepage-5:after {
    background-size: cover;
}
.homepage-3.homepage-4.homepage-5.advisors-area .team-img:hover .social-links.link-inner.team-link {
    top: 45%;
    left: 20%;
}
.team-area.homepage-5 .team-img:hover .social-links.link-inner.team-link {
    top: 45%;
    left: 37%;
}
.homepage-5 .team-img .social-links.link-inner.team-link {
    top: 45%;
    left: 35%;
}
.cryp-currency-left h2 {
    font-size: 24px;
    line-height: 40px;
}
.homepage-5 .slider-text p {
    line-height: 25px;
    margin-bottom: 14px;
}






.choose-area {
    padding-top: 80px;
}

.choose-left-content h2 {
    font-size: 24px;
    line-height: 40px;
}
.choose-right {
    text-align: center;
    margin-bottom: 60px;
}
.video-area-bg {
    margin-top: 35px;
    display: inline-block;
    top: 95%;
    left: 60px;
}
.choose-right img {
    position: initial;
    width: 70%;
}
img.section-logo {
    position: absolute;
    left: 40%;
    top: -16%;
    width: 19%;
    animation: off;
}
.choose-left-content p {
    font-size: 15px;
}
.cryp-currency-left p {
    font-size: 15px;
    margin-right: 0;
}
.offer-area.homepage-3.homepage-4.homepage-5 {
    padding-bottom: 0;
    background-size: cover;
}
.homepage-5 .offer-table {
    top: -100px;
}

.crypcash-area {
    padding-top: 0px;
    padding-bottom: 50px;
}
.crypcash-left h2 {
    font-size: 24px;
    line-height: 40px;
}
.crypcash-content p {
    font-size: 15px;
}
.choose-left-content {
    text-align: center;
}
.crypcash-left {
    margin-top: 80px;
}

.xs-100 {
    width: 100%;
    margin: auto;
}

.crypcash-area {
    padding-top: 0px;
}
.crypcash-left {
    margin-bottom: 80px;
    text-align: center;
}

.prement {
    width: 250px;
    height: 270px;
    padding: 80px 58px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.mt-90{
    margin-top: 0;
}
.blockchain-area {
    padding-bottom: 100px;
    text-align: center;
}

.blockchain-right h2 {
    font-size: 24px;
}
.blockchain-right p {
    font-size: 15px;
    line-height: 27px;
}
.blockchain-left img {
    width: 70%;
}
.download-right h2 {
    font-size: 22px;
    line-height: 33px;
}
.blockchain-right {
    margin-top: 75px;
}

.blockchain-area {
    padding-top: 80px;
}
.download-left img {
    width: 45%;
}
.countdown-area {
    padding-bottom: 80px;
    padding-top: 80px;
}
.download-left img {
    display: none;
}

.ml-27 {
    margin-left: 0px;
    margin-top: 30px;
}
.download-right p{
    font-size: 15px;
}
.blockchain-area {
    padding-bottom: 0px;
}
.download-area {
    padding-top: 0px;
    padding-bottom: 80px;
}

.download-right {
    padding-top: 0px;
    padding-bottom: 0px;
}
.download-left {
    text-align: center;
    margin-top:0px;
}
.button-group.store-buttons {
    margin-top: 60px;
}
.minus-margin-bottom {
    margin-bottom: 0px;
}

.countdown-table-cell h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


.countdown-table-cell {
    padding: 28px 10px;
}
h2.token {
     text-align: left;
}
ul.token-list li {
    font-size: 13px;
    margin-bottom: 14px;
}
#clockdiv div > span {
    font-size: 18px;
    padding: 0px;
    height: 20px;
    width: 22px;
}
#clockdiv {
    font-size: 10px;
    padding: 10px;
}
#clockdiv > div {
    border-radius: 3px;
    display: inline-block;
    color: #1ED88E;
    padding: 15px;
}
#clockdiv div > span {
}
.post-meta.clearfix {
    margin-top: 30px;
}
.chart-description-area {
    padding-top: 60px;
}

.buy-coin-btn {
    margin-top: 20px;
    display: inline-block;
}

.chart-left img {
    width: 60%;
}
.pull-left {
    float: none !important;
}
.pull-right {
    float: none !important;
}
.chart-left {
    text-align: center;
}
h2.token {
    font-size: 24px;
    margin-top: 26px;
}
.section-title h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 17px;
}
img.chart-logo {
    width: 20%;
    left: 37%;
    top: 31%;
}
.chart-right {
    margin-top: 46px;
    margin-left: 50px;
}
.chart-right ul li {
    margin-bottom: 17px;
    font-size: 16px;
}

.Fund-area .chart-right {
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 60px;
}

.Fund-area {
    padding-top: 50px;
    padding-bottom: 100px;
}

.Fund-area .chart-left {
    margin-left: 0px;
}
.chart-logo-bg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #111d55;
    position: absolute;
    top: 40%;
    left: 40%;
}
img.chart-logo {
    width: 60%;
    left: 21%;
    top: 17%;
}
.chart-logo-bg-2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #111d55;
    position: absolute;
    top: 37%;
    left: 42%;
}


img.chart-logo-2 {
    width: 60%;
    left: 21%;
    top: 17%;
}
img.chart-logo-2 {
    margin: 7px 10px;
}
.roadmap-area {
    padding-top: 80px;
    padding-bottom: 30px;
}

.section-bg:after {
    top: -125px;
}
.single-item {
    padding: 0px 30px;
    text-align: center;
    margin-bottom: 50px;
}
.single-item h5 {
    font-size: 14px;
    margin-left: 0px;
    padding-bottom: 18px;
    font-family: 'Poppins', sans-serif;
}

.single-item.single-tem-2 {
    position: initial;
    padding-right: 0;
    text-align: center;
}
.single-item.single-tem-4 {
    position: initial;
    padding-right: 0;
    text-align: center;
}
.single-item.single-tem-1 {
    position: initial;
    padding-right: 0;
    text-align: center;
}
.single-item.single-tem-3 {
    position: initial;
    padding-right: 0;
    text-align: center;
}
.single-item.single-tem-5 {
    position: initial;
    padding-right: 0;
    text-align: center;
}
.mb-60{
    margin-bottom: 30px;
}
.roadmap-area .section-title{
    margin-bottom: 50px;
}
.single-item.single-tem-6 {
    position: initial;
    padding-right: 0;
    text-align: center;
}
.single-item:after {
    top: 6%;
    left: 35%;
}
.single-item.single-tem-2:after {
    top: 9%;
}

.single-item.single-tem-6:after {
    top: 6%;
}
.single-item.single-tem-3:after {
    top: 6%;
}

.single-item p {
    font-size: 14px;
    line-height: 19px;
    padding: 0 0px;
}

.mb-60{
    margin-bottom: 0px;
}

.mainmenu .nice-select .option {
    color: #fff;
}
.homepage.mean-container .mainmenu .nice-select .option {
    color: #000;
}

.homepage.mean-container .mainmenu .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    color: #000;
}
.beefup__head {
    font-size: 14px;
}
.beefup {
    margin: 20px 0;
}
.whitepaper-area {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.whitepaper-left h2 {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 25px;
}

.whitepaper-right img {
    position: inherit;
    margin-top: 50px;
    width: 70%;
}

.whitepaper-left p {
    font-size: 14px;
}

img.white-logo-img {
    left: 40%;
    top: 30%;
    position: absolute;
    width: 20%;
}
.team-area {
    padding-top: 80px;
    padding-bottom: 0px;
}
.team-right {
    margin-top: 0px;
}

.team-content {
    margin-top: 30px;
    text-align: center;
}
.single-team {
    overflow: hidden;
    margin-bottom: 50px;
}
.team-img {
    margin-bottom: 50px;
    float: none;
    margin-right: 0;
}
.social-links {
    text-align: center;
}
.social-links.link-inner {
    left: 29%;
    top: 80%;
}



.team-meta {
    padding: 0 0px;
}
.team-meta p {
    font-size: 14px;
    line-height: 20px;
}
.advisors-area {
    padding: 80px 0;
}
.team-img img {
    width: 100%;
}

.social-links span {
    font-size: 14px;
    margin-right: 10px;
    padding: 10px;
}

.advisory-carosul-wrapper .owl-dots span {
    margin: -9px -12px;
}
.advisory-carosul-wrapper .owl-dots {
    bottom: -65px;
}


.faq-area {
    background: #081241;
    padding-top: 50px;
    padding-bottom: 50px;
}

.partner-area {
    padding-top: 50px;
    padding-bottom: 188px;
}

.single-partner-item {
    text-align: center;
    margin-bottom: 25px;
}
.contact-form-area h2 {
    margin-bottom: 40px;
    font-size: 24px;
    margin-top: 50px;
}

.contact-form-area {
    position: relative;
    margin: 0 10px;
}
.address-wrapper {
    padding-top: 0px;
}
.single-address {
    padding: 25px 12px;
}

.subscribe-box h2 {
    font-size: 15px;
    margin-bottom: 25px;
}

.subscribe-box input[type="email"] {
    width: 96%;
    height: 57px;
}

.subscribe-box input[type="submit"] {
    height: 56px;
    width: 54%;
    margin-left: 0;
    margin-top: 8px;
}
.footer-area .social-links {
    margin-bottom: 25px;
}
.footer-area .social-links a span {
    height: 45px;
    width: 45px;
    line-height: 45px;
    color: #1ED88E;
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    margin-right: 12px;
}

.row.boder-t {
    padding-top: 15px;
    padding-bottom: 12px;
}

.footer-bottom_area {
    text-align: center;
}
.footer-right.text-right {
    text-align: center;
}
p.copy-rights {
    font-size: 12px;
    margin-bottom: 8;
}

.footer-right a {
    font-size: 11px;
    padding-left: 0px;
}

.col-sm-6.boder-right {
    border: none;
}
.advisory-carosul-wrapper .owl-nav div {
    position: absolute;
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    border: none;
    background: #1ED88E;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    bottom: -80px;
    right: 65px;
    margin-top: -19px;
    outline: none;
    transition: all .3s ease-in ;
}

.advisory-carosul-wrapper .owl-nav div.owl-next {
    left: auto;
    right: 30px;
}
.advisory-carosul-wrapper .owl-nav div:hover {
    box-shadow: 0px 15px 45px 0px rgba(48, 79, 254, 0.5); 
}
.homepage-3 .slider-img img {
    position: absolute;
    top: 12%;
    right: 11%;
    z-index: -2;
    width: 75%;
}
.small-icon img.slider-logo-img-1 {
    left: 30%;
    top: 16%;
    width: 5%;
}
.small-icon img.slider-logo-img-2 {
    left: 50%;
    width: 5%;
}
.small-icon img.slider-logo-img-3 {
    left: 69%;
    width: 5%;
}
.small-icon img.slider-logo-img-4 {
    left: 69%;
    width: 3.5%;
}
.small-icon img.slider-logo-img-5 {
    left: 31%;
    width: 5%;
}
.small-icon img.slider-logo-img-6 {
    position: absolute;
    left: 48%;
    z-index: 2;
    width: 7.5%;
    top: 16%;
}


@-webkit-keyframes updow {   

    0% {
        top: 40%;
        }


    100% {
        top: 42%
        }
}

@keyframes updow {   

    0% {
        top: 15%;
        }


    100% {
        top: 16%
        }
}



@-webkit-keyframes updo {   

    0% {
        top: 26%;
        }


    100% {
        top: 28%
        }
}

@keyframes updo {   

    0% {
        top: 11%;
        }


    100% {
        top: 12%
        }
}



@-webkit-keyframes upd {   

    0% {
        top: 43%;
        }


    100% {
        top: 45%
        }
}

@keyframes upd {   

    0% {
        top: 16%;
        }


    100% {
        top: 17%
        }
}



@-webkit-keyframes up {   

    0% {
        top: 67%;
        }


    100% {
        top: 69%
        }
}

@keyframes up {   

       0% {
        top: 23%;
    }

    100% {
        top: 24%;
    }
}



@-webkit-keyframes u {   

    0% {
        top: 63%;
        }


    100% {
        top: 61%
        }
}

@keyframes u {   
    0% {
        top: 23%;
    }

    100% {
        top: 24%;
    }
}



@-webkit-keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}

@keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}
.work_area.homepage-3 {
    padding-top: 80px;
}
.work_area.homepage-3 .single-logo img {
    width: 65%;
}
.promo-video-area {
    padding-top: 80px;
}
.homepage-3 .video-area-bg {
    position: absolute;
    top: 19%;
    left: 41%;
}
.homepage-3 .crypcash-left h2 {
    font-size: 26px;
    line-height: 40px;
}
.homepage-3 .prement {
    width: 250px;
    height: 262px;
    border-radius: 20px;
    padding: 85px 70px;
    margin-top: 40px;
}
.homepage-3 .crypcash-content p {
    padding: 0 0px;
}
.homepage-3 .crypcash-content p {
    font-size: 16px;
    line-height: 24px;
}
.homepage-3 .slider-text h2 {
    font-size: 23px;
    line-height: 40px;
}

.homepage-3 .slider-text p {
    padding-right: 0;
}

.single-about {
    margin-bottom: 50px;
}

.choose-area.homepage-3 {
    padding-bottom: 30px;
}
.homepage-3.crypcash-area {
    padding-bottom: 80px;
    padding-top: 80px;
}
.homepage-3 .crypcash-content p {
    padding: 0 15px;
}
.prement-system {
    margin-left: 47px;
}
.homepage-3 .crypcash-left {
    margin-bottom: 0;
}
.single-value P {
    font-size: 16px;
    margin-bottom: 10px;
}
.offer-table p {
    font-size: 24px;
}

.offer-table h2 {
    font-size: 28px;
    line-height: 40px;
}
.token-area {
    padding-top: 80px;
    padding-bottom: 210px;
}
.homepage-3 .chart-logo-bg {
    top: 27%;
    left: 33%;
    width: 100px;
    height: 100px;
}
.single-token {
    margin-bottom: 50px;
}
.t-mt-80 {
    margin-top: 0;
}
.offer-table h2 {
    font-size: 34px;
}
.offer-area.homepage-3 {
    padding-bottom: 50px;
}
.homepage-3.chart-description-area {
    padding-bottom: 80px;
    padding-top: 20px;
}

.homepage-3 .chart-logo-bg-2 {
    top: 26%;
    left: 36%;
    width: 100px;
    height: 100px;
}

.homepage-3 .chart-right {
    margin-top: 62px;
    margin-left: 80px;
    margin-bottom: 50px;
}
.homepage-3 img.chart-logo-2 {
    margin: 15px 19px;
}

.homepage-3 .section-bg:after {
    top: 106px;
    background-size: 100%;
}
.single-document {
    width: 160px;
    margin-bottom: 24px;
    height: 80px;
    margin-right: 2px;
    margin-left: 19px;
}
.visib-hidd {
    opacity: 1;
    visibility: visible;
}
.document-content span {
    left: 60px;
    top: 22px;
}
.document-content h4 {
    font-size: 18px;
    margin: 29px 10px;
}
.homepage-3 .owl-carousel .owl-item .carsoul-single-item img {
    margin: 0 auto;
}
.mb-65 {
    margin-bottom: 0;
}
ul.nav.nav-tabs li {
    padding: 0 9px;
}
.nav.nav-tabs {
    margin: 0px 10px 60px;
}
ul.nav.nav-tabs li a {
    padding: 15px 0px;
    font-size: 14px;
}
.team-img:hover .social-links.link-inner.team-link {
    top: 85%;
    left: 34%;
}
.homepage-3 .social-links span {
    font-size: 14px;
    margin-right: 5px;
    padding: 6px;
}
.homepage-3.advisors-area {
    padding-bottom: 130px;
}
.homepage-3 .row.mb-54 {
    margin-bottom: 0;
}
.homepage-3.faq-area {
    padding-bottom: 80px;
}
.homepage-3.whitepaper-area {
    padding-top: 80px;

}

.single-value h2 {
    font-size: 24px;
}

.blog-table-cell h4 {
    padding: 0;
    line-height: 38px;
    font-size: 26px;
}

.blog-page-breatcrums {
    padding-top: 150px;
}
.post-meta ul li {
    margin: 0 0px;
}

.pagination>li>a, .pagination>li>span {
    font-size: 11px;
    margin: 0 4px;
    height: 30px;
    width: 30px;
    line-height: 17px;
}
.latest-blog-area {
    padding-top: 70px;
    padding-bottom: 70px;
}



.inventor-right {
    text-align: center;
}
.blog-details.latest-blog-area .blog-heading h2 {
    font-size: 28px;
    line-height: 38px;
}
.blog-details.latest-blog-area .blog-box-content .speak-quate p {
    font-size: 16px;
    line-height: 24px;
}

.over-right img {
    margin-top: 50px;
    margin-left: 0;
}
.single-comment-content.comment-padding-left {
    padding-left: 100px;
}
.single-comment-content {
    padding-left: 100px;
}
.single-comment-content img {
    left: 2%;
    top: 8%;
}
.single-comment-content.comment-padding-left img {
    left: 2%;
}

.blog-recent-post-content h2 {
    font-size: 15px;
}
.blog-recent-post-content {
    margin-top: 10px;
}
.blog-details.latest-blog-area {
    padding-top: 70px;
    padding-bottom: 0px;
}


    
}
/* Wide Mobile Layout: 480px. */
@media (min-width: 480px) and (max-width: 767px) { 


     #menu {
        display:none;
    }
    
.homepage-4.homepage-3.slider_area:before {
    left: -67%;
    top: -13%;
}    
.homepage-3.slider_area:before {
    left: -67%;
    top: -13%;
}

.homepage-3 .slider-img img {
    position: absolute;
    top: 15%;
    right: 16%;
    z-index: -2;
    width: 62%;
}
.small-icon img.slider-logo-img-1 {
    left: 35%;
    top: 24%;
    width: 3%;
}
.small-icon img.slider-logo-img-2 {
    left: 51%;
    width: 4%;
}
.small-icon img.slider-logo-img-3 {
    left: 67%;
    width: 4%;
}
.small-icon img.slider-logo-img-4 {
    left: 67%;
    width: 2.5%;
}
.small-icon img.slider-logo-img-5 {
    left: 35%;
    width: 4%;
}
.small-icon img.slider-logo-img-6 {
    position: absolute;
    left: 50%;
    z-index: 2;
    width: 5.5%;
    top: 21%;
}


@-webkit-keyframes updow {   

    0% {
        top: 40%;
        }


    100% {
        top: 42%
        }
}

@keyframes updow {   

    0% {
        top: 19%;
        }


    100% {
        top: 21%
        }
}



@-webkit-keyframes updo {   

    0% {
        top: 26%;
        }


    100% {
        top: 28%
        }
}

@keyframes updo {   

    0% {
        top: 13%;
        }


    100% {
        top: 15%
        }
}



@-webkit-keyframes upd {   

    0% {
        top: 43%;
        }


    100% {
        top: 45%
        }
}

@keyframes upd {   

    0% {
        top: 20%;
        }


    100% {
        top: 22%
        }
}



@-webkit-keyframes up {   

    0% {
        top: 67%;
        }


    100% {
        top: 69%
        }
}

@keyframes up {   

       0% {
        top: 31%;
    }

    100% {
        top: 33%;
    }
}



@-webkit-keyframes u {   

    0% {
        top: 63%;
        }


    100% {
        top: 61%
        }
}

@keyframes u {   
    0% {
        top: 31%;
    }

    100% {
        top: 33%;
    }
}



@-webkit-keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}

@keyframes myfirst {   

    0% {
        top: 22%;
        }


    100% {
        top: 27%
        }
}

.homepage-3 .slider-text p {
    padding-right: 0;
}

.single-about {
    margin-bottom: 50px;
}

.choose-area.homepage-3 {
    padding-bottom: 30px;
}
.homepage-3.crypcash-area {
    padding-bottom: 80px;
    padding-top: 80px;
}
.homepage-3 .crypcash-content p {
    padding: 0 15px;
}
.prement-system {
    margin-left: 40px;
}
.homepage-3 .crypcash-left {
    margin-bottom: 0;
}
.token-area {
    padding-top: 80px;
    padding-bottom: 210px;
}
.single-token {
    margin-bottom: 50px;
}
.t-mt-80 {
    margin-top: 0;
}
.offer-table h2 {
    font-size: 34px;
}
.offer-area.homepage-3 {
    padding-bottom: 50px;
}
.homepage-3.chart-description-area {
    padding-bottom: 80px;
    padding-top: 20px;
}
.homepage-3 .chart-logo-bg {
    top: 37%;
    left: 38%;
    width: 115px;
    height: 115px;
}
.homepage-3 .chart-right {
    margin-top: 62px;
    margin-left: 80px;
    margin-bottom: 50px;
}
.homepage-3 img.chart-logo-2 {
    margin: 17px 20px;
}
.homepage-3 .chart-logo-bg-2 {
    top: 36%;
    left: 40%;
    width: 115px;
    height: 115px;
}

.single-item-inner {
    padding: 200px 0;
}

.homepage-3 .single-item.single-item_1 {
    top: -75px;
    left: 42px;
}
.homepage-3 .single-item:after {
    top: 47%;
    left: 0px;
}
.homepage-3 .single-item.single-item_2 {
    top: 137px;
    left: 28px;
}
.homepage-3 .single-item.single-item_3 {
    top: -38px;
    left: -29px;
}

.homepage-3 .single-item.single-item_3:after {
    top: 46%;
}
.homepage-3 .single-item.single-item_4 {
    top: 136px;
    left: -29px;
}
.homepage-3 .single-item.single-item_4:after {
    top: 49%;
    left: 0px;
}
.homepage-3 .single-item.single-item_5 {
    top: -24px;
    left: -25px;
}
.homepage-3 .single-item.single-item_6 {
    top: 130px;
    left: 1px;
}
.homepage-3 .single-item.single-item_7 {
    top: -22px;
    left: -62px;
}

.homepage-3 .single-item.single-item_8:after {
    top: 46%;
    left: 0;
}
.homepage-3 .single-item.single-item_5:after {
    top: 47%;
}
.homepage-3 .single-item.single-item_7:after {
    top: 49%;
    left: 0px;
}
.homepage-3 .single-item.single-item_8 {
    top: 121px;
    left: -30px;
}

.homepage-3 .single-item.single-item_9 {
    top: -58px;
    left: -27px;
}
.homepage-3 .single-item.single-item_10 {
    top: 121px;
    left: -30px;
}
.homepage-3 .single-item.single-item_10:after {
    top: 47%;
}
.homepage-3 .single-item.single-item_1 {
    top: -75px;
    left: -3px;
    text-align: left;
    padding: 0 80px;
}
.homepage-3 .single-item.single-item_3:after {
    top: 41%;
    left: 2px;
}
.homepage-3 .single-item.single-item_5:after {
    top: 44%;
}
.homepage-3 .single-item.single-item_10:after {
    top: 44%;
}
.homepage-3 .single-item{
    text-align: left;
    padding: 0 80px;
}
.homepage-5 .single-item {
    padding: 0;
}
.homepage-5 .single-item.single-item_2:after {
    top: 47%;
    left: 2px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_3:before {
    top: 291px;
    left: 1px;
    height: 40px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_3:after {
    top: 46%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-3:before {
    top: 67%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-3:after {
    top: 65%;
    left: -9px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_4:before {
    top: 160px;
    left: 3px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_4:after {
    top: 49%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-4:before {
    top: 34.1%;
    left: 0px;
}
.homepage-5 .single-item-inner.single-item-inner-4:after {
    top: 32.5%;
    left: -7px;
}.homepage-3.homepage-4.homepage-5 .single-item.single-item_1:before {
    top: 307px;
    left: 3px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_1:after {
    top: 47%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-1:before {
    top: 71.3%;
    left: 0px;
}
.homepage-5 .single-item-inner.single-item-inner-1:after {
    top: 69.9%;
    left: -7px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_5:before {
    top: 250px;
    left: -8px;
}
.homepage-5 .single-item-inner.single-item-inner-5:before {
    top: 67%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-5:after {
    top: 65.5%;
    left: -9px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_6:before {
    top: 160px;
    left: 3px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_5:before {
    top: 275px;
    left: 1px;
    height: 40px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_5:after {
    top: 49%;
    left: 2px;
}

.homepage-3.homepage-4.homepage-5 .single-item.single-item_6:after {
    top: 47%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-6:before {
    top: 34%;
    left: 1px;
}
.homepage-5 .single-item-inner.single-item-inner-6:after {
    top: 32.5%;
    left: -7px;
}
.homepage-5 .single-item-inner.single-item-inner-7:before {
    top: 69%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-7:after {
    top: 67.5%;
    left: -9px;
}
.homepage-3 .single-item.single-item_7:after {
    top: 45%;
    left: 2px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_7:before {
    top: 275px;
    left: 1px;
    height: 40px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_7:after {
    top: 49%;
    left: 2px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_8:before {
    top: 172px;
    left: 5px;
    height: 28px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_8:after {
    top: 47%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-8:before {
    top: 35.9%;
    left: 3px;
}
.homepage-5 .single-item-inner.single-item-inner-8:after {
    top: 34.1%;
    left: -5px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_10:before {
    top: 172px;
    left: 5px;
    height: 28px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_10:after {
    top: 47%;
    left: 2px;
}
.homepage-5 .single-item-inner.single-item-inner-10:before {
    top: 35.9%;
    left: 3px;
}
.homepage-5 .single-item-inner.single-item-inner-10:after {
    top: 34.1%;
    left: -5px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_9:before {
    top: 311px;
    left: 1px;
    height: 40px;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_9:after {
    top: 47%;
    left: 2px;
}

.homepage-5 .single-item-inner.single-item-inner-9:before {
    top: 74.0%;
    left: -1px;
}
.homepage-5 .single-item-inner.single-item-inner-9:after {
    top: 72.5%;
    left: -9px;
}
.homepage-5 .single-item:after {
    top: 46%;
    left: 2px;
}
.roadmap-area.homepage-3.homepage-5 .owl-nav div {
    top: 50.8%;
}
.homepage-3.homepage-4.homepage-5 .single-item:before {
    height: 33px;
    top: 22%;
}
.homepage-3.homepage-4.homepage-5 .single-item.single-item_2:before {
    height: 33px;
    top: 32%;
}

.homepage-5 .single-item.single-item_1 {
    padding: 0;
    left: 35px;
}
.homepage-3 .single-item:after {
    top: 46%;
    left: 80px;
}
.homepage-5 .single-item.single-item_1:after {
    top: 44%;
    left: 3px;
}

.homepage-5.homepage-6 .ml-27 {
    margin-left: 0px; 
}

.homepage-5 .single-item-inner:before {
    top: 84.5%;
}
.homepage-5 .single-item-inner:after {
    top: 82.4%;
}
.homepage-5 .single-item-inner.single-item-inner-2:before {
    top: 32%;
}
.homepage-5 .single-item-inner.single-item-inner-2:after {
    top: 31.0%;
    left: 2px;
}
.homepage-3 .single-item.single-item_8:after {
    top: 41%;
    left: 80px;
}
.homepage-3 .single-item{
    text-align: left;
    padding: 0;
}
.roadmap-area.homepage-3 .owl-nav div {
    top: 51%;
}
.homepage-3 .single-item.single-item_1 {
    top: -47px;
    left: 32px;
    text-align: left;
    padding: 0;
}
.homepage-3 .section-bg:after {
    top: 106px;
    background-size: 100%;
}
.single-document {
    width: 198px;
    margin-bottom: 24px;
}
.visib-hidd {
    opacity: 1;
    visibility: visible;
}
.document-content span {
    left: 78px;
}
.nav.nav-tabs {
    margin: 0px 126px 60px;
}
.carsoul-single-item-inner:hover .social-links.link-inner {
    top: 50%;
    left: 25%;
}
.single-document:hover .download-icon>span {
    top: 27px;
}
.team-img:hover .social-links.link-inner.team-link {
    top: 85%;
    left: 34%;
}
.homepage-3 .social-links span {
    font-size: 14px;
    margin-right: 5px;
    padding: 6px;
}
.homepage-3.advisors-area {
    padding-bottom: 130px;
}
ul.nav.nav-tabs li a {
    padding: 35px 5px;
}
.homepage-3.faq-area {
    padding-bottom: 80px;
}
.homepage-3.whitepaper-area {
    padding-top: 80px;

}

.dropdown:hover>.dropdown-nav {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    top: 110%;
    border-radius: 5px;
    position: relative;
    left: 45%;
    background: transparent;
    border: 0;
}

.col-sm-6.boder-right {
    border: none;
}



.sticky-wrapper.is-sticky .header-top {
    padding: 10px 0;
}


.nice-select:after {
    right: 126px;
    top: 17%;
}

.nice-select span.current {
    font-size: 14px;
    position: relative;
    left: 50%;
    top: -8px;
}

.header-top {
    padding: 15px 0;
}
.logo img {
    width: 40px;
}

.logo a {
    font-size: 15px;
}
li.login a.sing-up{
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

img.slider-logo-img{
    max-width: 50px;
    left: 47%;
}

.slider_area {
    height: 100%;
}
.slide-caption-inner.slider-text {
    padding-top: 470px;
    padding-bottom: 60px;
    text-align: center;
}
.xs-100{
    width: 33.33333%;
}
.mt-90 {
    margin-top: 90px;
}

.ml-27 {
    margin-left: 27px;
}
.homepage-5.homepage-6 .ml-27 {
     margin-left: 27px; 
}

.slider-text h2 {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 40px;
}


.slider-img img {
    right: 20%;
    width: 65%;
    padding-left: 0px;
    top: 15%;
}
.slider-btn.slider-btn-2 {
    margin-left: 25px;
}


.homepage-5.slider_area {
    padding-bottom: 600px;
}
.homepage-5 .slide-caption-inner.slider-text {
    padding: 66px;
}
.homepage-5.homepage-4.homepage-3.slider_area:before {
    display: none;
}
.homepage-5 .slider-text h2 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}
.homepage-5.cryp-currency-area {
    padding-top: 0;
    text-align: center;
}
.cryp-currency-right img {
    display: none;
}
.work_area.homepage-5 {
    padding-top: 80px;
    padding-bottom: 370px;
}
.token-area.homepage-5 {
    padding-bottom: 50px;
}
.homepage-3.homepage-4.homepage-5.chart-description-area:before {
    background-size: cover;
}
.homepage-3.homepage-4.homepage-5.chart-description-area {
    padding-bottom: 45px;
    padding-top: 100px;
}
.download-area.homepage-5:before {
    display: none;
}
.download-area.homepage-5:after {
    display: none;
}
.team-area.homepage-3.homepage-4.homepage-5:after {
    background-size: cover;
}
.homepage-3.homepage-4.homepage-5.advisors-area .team-img:hover .social-links.link-inner.team-link {
    top: 45%;
    left: 20%;
}
.team-area.homepage-5 .team-img:hover .social-links.link-inner.team-link {
    top: 45%;
    left: 37%;
}
.homepage-5 .team-img .social-links.link-inner.team-link {
    top: 45%;
    left: 35%;
}
.cryp-currency-left h2 {
    font-size: 30px;
    line-height: 48px;
}
.homepage-5 .slider-text p {
    line-height: 25px;
    margin-bottom: 14px;
}
.slider-img-5 {
    top: 100%;
    right: 22%;
}
.goldcakesale {
    top: 100%;
    
}

.work_area {
    padding-top: 50px;
}

.section-title {
    padding: 0 40px;
}
.single-work {
    margin-bottom: 70px;
}
.single-work h4 {
    font-size: 20px;
    line-height: 22px;
    margin: 20px 0;
}
.single-work p {
    font-size: 15px;
    line-height: 25px;
    color: #96a2e1;
    padding: 0 0px;
    margin-top: -10px;
}

.choose-left-content h2 {
    font-size: 36px;
    line-height: 54px;
}
.choose-area {
    padding-top: 80px;
}
.crypcash-left h2 {
    font-size: 36px;
    line-height: 54px;
}

.choose-right {
    text-align: center;
    margin-bottom: 60px;
}
.video-area-bg {
    margin-top: 35px;
    display: inline-block;
    top: 97%;
    left: 33%;
}
.homepage-3 .video-area-bg {
    top: 35%;
    left: 46%;
}
.choose-right img {
    position: initial;
    width: 70%;
}
img.section-logo {
    position: absolute;
    left: 40%;
    top: -15%;
    width: auto;
    animation: none;
}

.subscribe-box input[type="email"] {
    width: 96%;
    height: 65px;
}

.chart-logo-bg {
    top: 24%;
    left: 31%;
}
.choose-left-content p {
    font-size: 15px;
}
.choose-left-content {
    text-align: center;
}
.crypcash-area {
    padding-top: 0px;
}
.crypcash-left {
    margin-bottom: 80px;
    text-align: center;
}
.prement {
    width: 200px;
    height: 230px;
    padding: 60px 30px;
    margin-bottom: 30px;
    margin-left: 0;
}
.blockchain-right h2 {
    font-size: 36px;
}
.blockchain-area {
    padding-bottom: 100px;
    text-align: center;
}
.blockchain-left img {
    width: 70%;
}
.blockchain-right {
    margin-top: 75px;
}

.blockchain-area {
    padding-top: 80px;
}
.download-left img {
    width: 40%;
}

.download-right h2 {
    font-size: 35px;
    line-height: 50px;
}

.download-right p{
    font-size: 15px;
}
.blockchain-area {
    padding-bottom: 0px;
}
.download-area {
    padding-top: 0px;
    padding-bottom: 100px;
}

.download-right {
    padding-top: 0px;
    padding-bottom: 0px;
}
.button-group.store-buttons {
    margin-top: 60px;
}


.countdown-table-cell h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


.countdown-table-cell {
    padding: 30px 40px;
}
h2.token {
     text-align: left;
}
ul.token-list li {
    font-size: 14px;
    margin-bottom: 14px;
}
#clockdiv div > span {
    font-size: 30px;
    height: 50px;
    width: 40px;
}
.buy-coin-btn {
    margin-top: 0px;
    display: inline;
}
#clockdiv > div {
    padding: 20px 32px;
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}
.chart-description-area {
    padding-top: 100px;
}

.chart-left img {
    width: 60%;
}


.chart-left {
    text-align: center;
}

.chart-logo-bg {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #111d55;
    position: absolute;
    top: 36%;
    left: 38%;
}
img.chart-logo {
    left: 20%;
    width: 60%;
    top: 17%;
}
img.chart-logo-2 {
    margin: 17px 19px;
}
.chart-right {
    margin-top: 80px;
    margin-left: 120px;
}
.chart-right ul li {
    margin-bottom: 20px;
}

.Fund-area .chart-right {
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: 100px;
}

.Fund-area {
    padding-top: 50px;
    padding-bottom: 100px;
}

.Fund-area .chart-left {
    margin-left: 0px;
}
.chart-logo-bg-2 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #111d55;
    position: absolute;
    top: 35%;
    left: 41%;
}
img.chart-logo-2 {
    left: 20%;
    width: 60%;
    top: 17%;
}

.roadmap-area {
    padding-top: 80px;
    padding-bottom: 50px;
}
.roadmap-area .section-title{
    margin-bottom: 50px;
}
.section-bg:after {
    top: -148px;
    background-size: 159% 25%;
}
.whitepaper-left h2 {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 25px;
}
.single-item {
    padding: 0px;
}
.single-address p {
    padding: 0 50px;
}
.single-item.single-tem-2 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-6 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-4 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-1 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-3 {
    position: initial;
    padding-right: 0;
}
.single-item.single-tem-5 {
    position: initial;
    padding-right: 0;
}
.single-item:after {
    top: 6%;
    left: 12%;
}
.single-item.single-tem-2:after {
    top: 6%;
    left: 17%;
}
.single-item.single-tem-6:after {
    top: 5%;
    left: 15%;
}
.single-item.single-tem-3:after {
    top: 6%;
    left: 15%;
}

.single-item p {
    font-size: 11px;
    line-height: 19px;
    padding: 0;
}

.mb-60{
    margin-bottom: 60px;
}


.whitepaper-area {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.whitepaper-right img {
    position: inherit;
    margin-top: 50px;
    width: 70%;
}

.whitepaper-left p {
    font-size: 15px;
}

img.white-logo-img {
    left: 40%;
    top: 30%;
    position: absolute;
    width: auto;
}

.team-right {
    margin-top: 0px;
}

.team-content {
    margin-top: 30px;
}

.team-img {
    margin-bottom: 100px;
    margin-right: 0;
}
.social-links.link-inner {
    left: 12%;
    top: 77%;
}
.team-img img {
    width: 100%;
}



.section-title h2 {
    font-size: 35px;
}
.team-meta {
    padding: 0 20px;
}

.advisory-carosul-wrapper .owl-dots span {
    margin: -9px -12px;
}
.advisory-carosul-wrapper .owl-nav div {
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 22px;
    line-height: 44px;
    border: none;
    background: #1ED88E;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    bottom: -80px;
    right: 90px;
    margin-top: -19px;
    outline: none;
    transition: all .3s ease-in ;
}

.advisory-carosul-wrapper .owl-nav div.owl-next {
    left: auto;
    right: 30px;
}
.advisory-carosul-wrapper .owl-nav div:hover {
    box-shadow: 0px 15px 45px 0px rgba(48, 79, 254, 0.5); 
}


.faq-area {
    background: #081241;
    padding-top:80px;
    padding-bottom:80px;
}

.partner-area {
    padding-top: 80px;
    padding-bottom: 188px;
}

.contact-form-area {
    position: relative;
    margin: 0 15px;
}

.single-address {
    padding: 29px 120px;
}
.subscribe-box h2 {
    font-size: 24px;
}
.subscribe-box input[type="email"] {
    width: 70%;
}

.subscribe-box input[type="submit"] {
    height: 65px;
    width: 20%;
    margin-left: -4px;
 }
 .footer-area .social-links {
    margin-bottom: 50px;
}

.row.boder-t {
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-bottom_area {
    text-align: center;
}
.footer-right.text-right {
    text-align: center;
}
.footer-bottom_area a {
    font-size: 16px;
}
p.copy-rights {
    margin-bottom: 10px;
    font-size: 16px;
}

.blog-table-cell h4 {
    padding: 0px 40px;
}
.post-meta ul li {
    margin: 0 5px;
}
.blog-page-breatcrums {
    padding-top: 130px;
}
.single-blog-image img {
    width: 100%;
}

.single-blog-image:before {
    line-height: 414px;
}
.blog-heading h2 {
    font-size: 30px;
}

.inventor-left {
    width: 360px;
}
.over-left img{
    width: 300px;
}
.over-right img {
    margin-top: 0px;
    margin-left: 37px;
    width: 300px;
}
.blog-recent-post-image-1 img {
    width: 100%;
}
.blog-recent-post-content {
    margin-top: 30px;
}


}